<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>pingController</display-name>
    <servlet-name>pingController</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.pingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pingController</servlet-name>
    <url-pattern>/pingController</url-pattern>
  </servlet-mapping>
  <display-name>gamelobby</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testController</display-name>
    <servlet-name>testController</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.testController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testController</servlet-name>
    <url-pattern>/testController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testsController</display-name>
    <servlet-name>testsController</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.testsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testsController</servlet-name>
    <url-pattern>/testsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerControl</display-name>
    <servlet-name>registerControl</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.registerControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerControl</servlet-name>
    <url-pattern>/registerControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>codeRegisterValidation</display-name>
    <servlet-name>codeRegisterValidation</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.codeRegisterValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeRegisterValidation</servlet-name>
    <url-pattern>/codeRegisterValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>codeLoginValidation</display-name>
    <servlet-name>codeLoginValidation</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.codeLoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeLoginValidation</servlet-name>
    <url-pattern>/codeLoginValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addGems</display-name>
    <servlet-name>addGems</servlet-name>
    <servlet-class>com.shenkar.gamelobby.controllers.addGems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addGems</servlet-name>
    <url-pattern>/addGems</url-pattern>
  </servlet-mapping>
</web-app>